  /**
  In this CSS file is stored every style for some HTML elements thas has been used in this project
  **/
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /*
    Global styles
  */
  
  .textAlignCenter{
    text-align:center;
  }


  
  html body div#root div.App div.landing-container
  
  /*
    Style for Dashboard component
  */
   

 

  

  .globalMessage{
    margin:0 auto;
    display:block;
    text-align: center;
  }

  .errorMessage{
    color:red;
  }


  .bold{
    font-weight: bold;
  }

  

